server {
        listen *:80;
        server_name  {{site_name}} www.{{site_name}};
        server_name_in_redirect off;
        access_log  /var/log/nginx/{{site_name}}.access.log;

        location / {
        proxy_pass   http://{{back_serv_ip}}:{{back_serv_port}};
        }

        location ~ /\.ht {
        deny  all;
        }
}
